html
  font-size: 14px
  font-family: "Avenir Next", Helvetica
  font-weight: 500
  line-height: 2

@media only screen and (max-width: 768px)
  html
    font-size: 12px

h1, h2, h3, h4
  text-transform: uppercase
  font-family: 'AvenirNext-Bold'

h1
  font-size: 2.5rem
h2
  font-size: 2rem
h3
  font-size: 1.5rem
h4
  font-size: 1rem

p
  font-size: 1.2rem

a
  color: $color-accent
  text-decoration: none
  font-family: 'AvenirNext-bold'

.accent-paragraph p
  font-size: 1.5rem
  padding-bottom: 2rem
  line-height: 2.5

.accent-last-text > p:last-child
  color: #095B5F
  padding-bottom: 0

.text-regular
  font-family: 'AvenirNext-Regular'

.position-absolute
  position: absolute

.align-items
  align-items: center

.show-mobile
  display: none

@media only screen and (max-width: 600px)
  .show-mobile
    display: flex
