.dark-logo, .light-logo
  width: 350px
  height: 100%

@media only screen and (max-width: 600px)
  .dark-logo, .light-logo
    width: 100%

.light-logo
  filter: invert(1)

.menu.dark .menu-inner-wrapper ul li a
  color: black

.menu.light .menu-inner-wrapper ul li a
  color: white

.menu
  width: 100%
  z-index: 100
  ul
    display: flex
    flex-direction: row
    align-items: center
    li a
      text-decoration: none
      font-size: 1.5rem
      padding-right: 2rem
      white-space: nowrap
      font-family: 'AvenirNext-Medium'
    li a:hover
      font-weight: bold
    li:last-child a
      padding-right: 0

.menu-inner-wrapper
  display: flex
  justify-content: space-between
  padding: 2rem 0

@media only screen and (max-width: 1200px)
  .menu-inner-wrapper
    justify-content: center
    flex-direction: column
    align-items: center

  .menu ul
    padding-top: 2rem

@media only screen and (max-width: 768px)
  .menu-inner-wrapper
    flex-wrap: wrap

@media only screen and (max-width: 600px)
  div.hero-content
    display: none

  .grid-container.menu
    height: 100%

  .menu-inner-wrapper
    justify-content: center

  .menu-inner-wrapper ul
    flex-direction: column
    align-items: self-start
    font-size: 2rem
    align-self: flex-start
    padding-top: 4rem
    li
      font-size: 2rem

.hero-wrapper
  height: 100vh

.hero-content
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  top: 0
