.modalities
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 3em
    .text-on-image-image
      clip-path: circle(150px at center)
      height: 300px
      width: 300px
      filter: brightness(75%)


@media only screen and (max-width: 1200px)
  .modalities
    grid-template-columns: repeat(1, 1fr)
    grid-row-gap: 8rem

@media only screen and (max-width: 768px)
  .modalities
    grid-template-columns: repeat(1, 1fr)


.modality-block
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  .modality-text
    padding-top: 2rem
    width: 300px
    font-size: 1.2rem
