$modalities-image-width-desktop: 250px
$circle-radius-desktop: $modalities-image-width-desktop/2

$modalities-image-width-tablet: 200px
$circle-radius-tablet: $modalities-image-width-tablet/2

.modalities
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 3em
    .text-on-image-image
      clip-path: circle($circle-radius-desktop at center)
      height: $modalities-image-width-desktop
      width: $modalities-image-width-desktop

.modality-block
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  .text-on-image.modality-image .text-on-image-text
    font-size: 1.5rem
  .modality-text
    padding-top: 2rem
    width: $modalities-image-width-desktop
    font-size: 1.2rem

.modalities-wrapper div:first-child
  padding: 0

@media only screen and (max-width: 1200px)
  .modalities
    .text-on-image-image
      clip-path: circle($circle-radius-tablet at center)
      height: $modalities-image-width-tablet
      width: $modalities-image-width-tablet
      filter: brightness(75%)
  .modality-block
    .modality-text
      width: $modalities-image-width-tablet
      font-size: 1.1rem

@media only screen and (max-width: 768px)
  .modalities
    grid-template-columns: repeat(1, 1fr)
    .text-on-image-image
      clip-path: circle($circle-radius-desktop at center)
      height: $modalities-image-width-desktop
      width: $modalities-image-width-desktop
  .modality-block
    padding-top: 4rem
    .modality-text
      width: $modalities-image-width-desktop
      font-size: 1.2rem
