.text-on-image
  display: flex
  justify-content: center
  align-items: center

.text-on-image-text
  position: absolute
  z-index: 100
  color: white
  font-family: 'AvenirNext-Bold'
  font-size: 1.5rem
  text-transform: uppercase
  font-weight: bold

.text-on-image-image
  object-fit: cover
