.padding-top-medium
  padding-top: 15rem

.padding-bottom-medium
  padding-bottom: 15rem

.align-items
  align-items: center

.grid-col-5
  grid-column: 1/6
  .text-on-image-text
    font-size: 2.5rem
  .text-on-image-image
    max-height: 400px
    object-fit: cover
    width: 100%

.grid-col-4
  grid-column: 7/11
  font-size: 1.5rem

.location-block
    height: 100%
    width: 50%
    display: flex
    justify-content: center
    align-items: center

.location-block a:hover
  border: .5rem white solid

.location-block a
  color: white
  text-decoration: none
  font-family: 'AvenirNext-Bold'
  font-size: 3rem
  padding: 5px

.rates-table
  font-family: 'AvenirNext-Italic'
  width: 100%
  tr td
    padding-bottom: .5rem
  tr td:nth-child(2)
    text-align: right

.rates-description
  padding-top: 4rem
  font-size: 1rem
