.location-block
    height: 100%
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    line-height: 4rem

.location-block a:hover
  border: .5rem white solid

.location-block a
  color: white
  text-decoration: none
  font-family: 'AvenirNext-Bold'
  font-size: 2.5rem
  padding: 5px 15px


@media only screen and (max-width: 768px)
  .location-block a
    font-size: 2rem

  .location-mobile
    flex-direction: column


.text-span
    padding-top: 4rem
    font-family: 'AvenirNext-Medium'
    font-size: 1.5rem

.text-span p:first-child
    font-family: 'AvenirNext-Bold'

.text-span p
    padding: 0
    line-height: 2.5

.parallax--spacer
  height: 80vh

.rates-description
  padding-top: 4rem
  font-size: 1rem
